<h1>
	<% if params[:type] %>
		Listing all <%= params[:type] + "s" %>
	<% elsif params[:tag] %>
		Posts tagged with "<%= params[:tag] %>"
	<% else %>
		Welcome
	<% end %>
</h1>
<div class="posts index">
	<ul class="posts list">
		<% @posts.each do |post| %>
			<hr>
			<li class="posts list-item">
				<%= link_to post.title, post, :class => "show-link", :remote => true %>
				<span class="posts author">by <%= post.user.name %></span>
				<span class="posts date">on <%= post.created_at.strftime("%m/%d/%Y") %></span>
				<section class="tags">
					<%= link_to type_path(post.post_type), :class => "tag" do %>
						<%= post.post_type %>
					<% end %>
					<% post.tag_list.each do |tag| %>
						<%= link_to tag_path(tag), :class => "tag" do %>
							<%= tag %>
						<% end %>
					<% end %>
				</section>
			</li>
		<% end %>
		<hr>
	</ul>
</div>