<!DOCTYPE html>
<html>
	<head>
		<title>JacobBlog</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="container">
				<nav class="sixteen columns">
					<div class="five columns">
						<h1 class="left">
							Jacob's Blog
						</h1>
					</div>
					<div class="ten columns">
						<ul class="right">
							<li>
								<%= link_to "Home", "#"%>
							</li>
							<li>
								<%= link_to "About", "#" %>
							</li>
							<li>
								<%= link_to "Resources", "#" %>
							</li>
							<li>
								<%= link_to "Archive", "#" %>
							</li>
						</ul>
				</nav>
			</div>
		</header>


		<hr>

		<div class="container body">
			<div class="sixteen columns">
				<div class="half centered">
					<%= yield %>
				</div>
			</div>
		</div>

		<div class="modal bg"></div>
		<div class="modal body">
		</div>

	</body>
</html>
